body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  width: 80%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(196, 196, 196, 0.29);
  border: 0 none;
}

.MuiButtonGroup-groupedOutlinedHorizontal:not(:last-child) {
  border-right-color: rgba(0, 0, 0, 0.23) !important;
}
